
<nav class="navbar navbar-fixed-top">
  <div class="container">
   
  <ul class="nav navbar-nav">
    <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
    <li class="nav-item dropdown">
    	<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Games<span class="caret"></span></button></a>
    	<div class="dropdown-menu">
    		<ul><a class="dropdown-item" href="#">Seven Wonders</a></ul>
    		<ul><a class="dropdown-item" href="#">Dead of Winter</a></ul>
    		<ul><a class="dropdown-item" href="#">Power Grid</a></ul>
    		<ul><a class="dropdown-item" href="#">Dominion</a></ul>
    	</div>
    </li> 
  	<li class="nav-item"><a href="#">Stats</a></li>
    <li class="nav-item"><a href="#">Tools</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
  	<li class="nav-item"><a href="#">Log in</a></li>
  </ul>
   

</div>
</nav>

