<!--   
  main:
  

  sidebar:
  update players/groups
  change name
  change password
 -->
   
<!--  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="#">Update Players</a></li>
      <li><a href="#">Update Groups</a></li>
      <li><a href="#">Change Password</a></li>
      <li><a href="#">Change Name</a></li>  
    </ul>
  </div>
 -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 sidebar">
      <div style="color: white; border-style: none none double; cursor: default;"> <br>Settings<br><br> </div>
      <br>
       <div class="row">
        Update Players
      </div>
       <div class="row">
        Update Groups
      </div>
       <div class="row">
        Change Password
      </div>
       <div class="row">
        Change Name
      </div>      
    </div>
  </div>
</div>


<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" style="background-color:yellow;">
      One of three columns
    </div>
    <div class="col-sm-3">
      One of three columns
    </div>
    <div class="col-sm-3">
      One of three columns
    </div>
  </div>
</div> -->
<!-- 
