<% current_admin %>
    
<nav class="navbar navbar-default mainbar">
  <div class="container-fluid">
   
  <ul class="nav navbar-nav">
    <li><%=link_to "Home", root_path %></li>
    
    <% if logged_in? %>
      <li class="dropdown">
        <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown"> Games <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/seven_wonders"> Seven Wonders </a></li>
          <li><a href="#"> Dead of Winter </a></li>
          <li><a href="/power_grid"> Power Grid </a></li>
          <li><a href="#"> Dominion </a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown"> Stats <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href='/seven_wonders/stats'> Seven Wonders </a></li>
          <li><a href="#"> Dead of Winter </a></li>
          <li><a href="#"> Power Grid </a></li>
          <li><a href="#"> Dominion </a></li>
        </ul>
      </li>     
    <% end %> 
    
    <li><a href="#">Tools</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <%= render 'shared/login' %>
  </ul>
  </div>
</nav>

<%if current_page?(settings_path) ||
     request.path == '/settings/password' ||
     request.path == '/settings/players' ||
     request.path == '/settings/name' ||
     request.path == '/settings/groups'
 %>  

  <div class="col-sm-2 sidebar">
   <br>
   <div class="row">
        <div id="settings">
          Settings
        </div>
    </div>
    <div style="border-style: none none double;"> </div>
    <br>
    <div class="row">
        <div id="update_players">
          Update Players
        </div>
    </div>
     <div class="row">
        <div id="update_groups">
          Update Groups
        </div>
    </div>
     <div class="row">
        <div id="update_name">
          Change Name
        </div>
    </div>
     <div class="row">
        <div id="update_password">
          Change Password
        </div>
    </div>   
  </div>    

<% end %>