<div id="active_player_list">
	<% @allPlayers.each do |p| %>
		<% if p.active %>	 				
	 		<div class="row player" style="outline: 1px solid #93b7f2; padding-left: 10px">
	 			<div class="left">
	 					<%= p.name %> 
	 			</div>
	 			<div class="right"> <span class="glyphicon glyphicon-remove remove_item_icon remove_player"> </span> </div>
			</div>
		<% end %>	 			
	<% end %>
</div>
	<br>
	<br>
<div id="show_inactive_message">	
	Show inactive players
	<span class="glyphicon glyphicon-chevron-right show-inactive"></span>
</div>
<div id="inactive_player_list" style="display: none;">
	<% @allPlayers.each do |p| %>
		<% if !p.active %>	 				
	 		<div class="row player" style="outline: 1px solid #93b7f2; padding-left: 10px">
	 			<div class="left">
	 					<%= p.name %> 
	 			</div>
	 			<div class="right"> <span class="glyphicon glyphicon-plus add_player add_item_icon"> </span> </div>
			</div>
		<% end %>	 			
	<% end %>
</div>