@import "bootstrap-sprockets";
@import "bootstrap";

.navbar{
	background-color: #93b7f2;
	margin-bottom: 0px;

}

.mainbar{
	font-size: 16pt;
	padding-left: 13%;
}

.sidebar{
	font-size: 12pt;
	background-color: #FFA07A;
	margin-bottom: 0px;
	width: 15%;
	height: 100%;
	color: white;
	cursor: pointer;
	text-align: center;
	
}

.sidebar > .row{
	padding-bottom: 20px;
}

.sidebar .row:hover{
	color: black;
}

.navbar .nav > li > a  {
  color: white;
}

.left{
	float: left;
}

.right{
	color: black;
	float: right;
}

.remove_item_icon:hover{
	color: red;
	cursor: pointer;
}

.add_item_icon:hover{
	color: green;
	cursor: pointer;
}

.edit_item_icon:hover{
	color: gold;
	cursor: pointer;	
}

.show-inactive:hover{
	color: #FFA07A;
	cursor: pointer;
}

.player{
	padding-left: 10px;	
	padding-right: 10px;	
}

.highlight-blue:hover{
	background-color: #93b7f2;
	color: white;
}

#player_list{
	padding-left: 10px;
}

#active_player_list .row:hover{
	background-color: #93b7f2;
	color: white;
}

#inactive_player_list .row:hover{
	background-color: #FFA07A;
	color: white;
}

#notice{
	color: green;
}

#error{
	color: red;
}

